.DS_Store
.vscode/

__pycache__/
*.py[cod]

build/
*.so
*.pyd
*.dll
*.dylib
*.lib
*.exp
*.o
*.pdb

cppCalculations.c
cppCalculations.cpp
src/simple3d/cppCalculations.c
src/simple3d/cppCalculations.cpp
